<%- include('partials/header'); -%>
    <div class="main">
    <h1 class="display-5"><b>University College of Engineering - Kancheepuram</b></h1>
    <h3 class="display-5">Department of Computer Science Engineering</h3>
    <form action="/" class="form-group" method="POST">
        <label for="username">Register Number:</label>
        <input type="tel" name="regno" class="form-control" placeholder="reg.no">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="password"><br>
        <p>atleast 8 characters to get into</p>
        <button type="submit" name="submit" class="btn bnt-primary">Submit</button>
    </form>
</div>
<%- include('partials/footer'); -%>