<%- include('partials/header'); -%>
   <div class="container-fluid">
        <h1 class="display-5">University College of Engineering - Kancheepuram</h1>
        <h3 class="display-5">Department of Computer Science Engineering</h3>
        <h1 class="display-4">Student Profile</h1>
        <h2>register number is <%= overwrite %></h2>
        <p>Welcome to Student Database 2019</p>
   </div>
<%- include('partials/footer'); -%>